<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding: 0 40px 0 80px;min-height: 64px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ">
      <!-- <app-logo-escura></app-logo-escura> -->
      <img class="logoConselho" src='assets/cubo.png' [routerLink]="['/home']" />
    </a>

    <div class="font-titulo-master android-navigation mdl-navigation__link ">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto .d-block .d-sm-none">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Redefinir senha </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="sair()">Sair</a>
          </li>
          <li class="nav-item dropdown">
          </li> -->

      </ul>

      <div class="fr">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" style="font-size: 14pt;"></i> {{nomeUsuario}}
          </a>
          <div class="dropdown-menu dropdown-menu-right text-right" >
            <!-- <a class="dropdown-item" (click)="abrirModalRedefinirSenha()">Redefinir senha</a> -->
            <a class="dropdown-item" (click)="sair()">Sair</a>
          </div>
        </div>
    </div>
  </nav>
  <div>

    <div class="barra-linha bg-black"></div>
    <router-outlet></router-outlet>
  </div>
  <br>
  <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'window' }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
  </dx-load-panel>

</div>
<footer class="tamanhofooter mdl-mini-footer font-small grey darken-3 footer">
  <div class="footer-copyright grey darken-3 text-left px-3">
    <div class=" scroll-up-rounded" style="transform: scaleX(1) scaleY(1); opacity: 1; float: right">
      <a (click)="toTop()"><i class="fas fa-angle-up"></i></a>
    </div>
    <h6 class=" m-0 m-0 text-white">Spiderware Consultoria e Informática
    </h6>
  </div>
</footer>