<div class="grid row mt-2">
    <div class="card " *ngFor="let x of Menus" [routerLink]="x.Rota"  >
        <span class="icon centralizar">
            <i [class]="x.Icone" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></i>
        </span>
        <h4 class="text-center">{{x.Titulo}}</h4>
        <p class="text-center">
            {{x.Descricao}}
        </p>
        <div class="shine"></div>
        <div class="background">
            <div class="tiles">
                <div class="tile tile-1"></div>
                <div class="tile tile-2"></div>
                <div class="tile tile-3"></div>
                <div class="tile tile-4"></div>

                <div class="tile tile-5"></div>
                <div class="tile tile-6"></div>
                <div class="tile tile-7"></div>
                <div class="tile tile-8"></div>

                <div class="tile tile-9"></div>
                <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
    </div>
</div>

<label class="day-night">
    <input type="checkbox" checked />
    <div></div>
</label>